<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Listar Itens</mat-card-title>
    <mat-card-subtitle
      ><button
        mat-icon-button
        color="primary"
        aria-label="Cadastrar"
        (click)="showCreateForm()"
      >
        Cadastrar
      </button></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="itens$" class="mat-elevation-z8">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            aria-label="Editar"
            (click)="showUpdateForm(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="danger"
            aria-label="Excluir"
            (click)="deleteItem(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </table>
  </mat-card-content>
</mat-card>
